<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ startup.company_name }}</title> 
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1, h2 {
            color: #333;
        }
        .redirect-button{
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: left; 
            margin-top:20px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
         <h1>{{ startup.company_name }}</h1> 
        <div class="row">
            <div class="col-md-6">
                <h2>General Information</h2>
                <p><strong>Startup ID:</strong> {{ startup.id }}</p>
                <p><strong>Company Name:</strong> {{ startup.company_name }}</p>
                <p><strong>About company:</strong> {{ startup.bio }}</p>
                <p><strong>Size:</strong> {{ startup.get_size_display }}</p>
                <p><strong>Phone Number:</strong> {{ startup.phone_number }}</p>
            </div>
            <div class="col-md-6">
                <h2>Location</h2>
                 <p><strong>City:</strong> {{ startup.location }}</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Founders</h2>
                {% if not startup.founders.all %}
                 No Founders
                {% else %}

                {% for founder in startup.founders.all %}
                {{ founder }}

                {% endfor %}

            {% endif %}

            </div>
            <div class="col-md-12">
                <h2>Projects</h2>
                {% if not startup.projects.all %}
                 No Projects
                {% else %}

                {% for project in startup.projects.all %}
                {{ project }}
                <br><br>
                {% endfor %}

            {% endif %}

            </div>
        </div>
        <button id="redirectButton" class="redirect-button">Startup Update</button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const redirectButton = document.getElementById('redirectButton');

            redirectButton.addEventListener('click', () => {
                window.location.href = 'startup_update.html'; 
            });
        });
    </script>
</body>
</html>